body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
    background-color: rgba(50, 48, 50, .1);
}

@media only screen and (min-width: 993px){
    .l0{
        display: none;
    }
}